.emo-browser {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
}

.emo-viewer {
  border: 1px solid black;
  padding: 20px;
  display: grid;
  grid-template-rows: 0.5fr 12fr 0.5fr;
  max-height: 90vh;
  overflow: auto;
  gap: 10px;
}
.emo-viewer h2 {
  text-align: center;
  margin-bottom: 50px;
}

.emo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 130px;
}
