.emotion-form,
.category-form,
.emo-state-form {
  height: calc(100vh - 50px);
  background-color: transparent;
  position: relative;
}

.emotion-form .bottom,
.emo-state-form .bottom {
  padding: 0;
}

.close-btn {
  background: transparent;
  position: absolute;
  right: 0px;
  top: -15px;
  width: auto;
  padding: 0;
  margin: 0;
  color: white;
  cursor: pointer;
}

#pos-neg-scale,
#intensity {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  height: 25px;
  background-image: linear-gradient(to right, #000, #fff) !important;
  border: 2px solid var(--color1);
  padding: 0;
}

#pos-neg-scale::-webkit-slider-thumb,
#intensity::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 23px;
  background-color: var(--color1);
  cursor: pointer;
  position: relative;
}

#pos-neg-scale::-moz-range-thumb,
#intensity::-moz-range-thumb {
  width: 23px;
  height: 23px;
  background-color: var(--color1);
  cursor: pointer;
}

.category-form input[type='text'] {
  margin-bottom: 40px;
}
